body {
	margin: 0;
	font-family: 'Lato', sans-serif;
}

.abt-img {
	position: relative;
	background-size: cover;
	background-image: url("/images/travel.jpg");
	min-height: 100%;
}

.container {
	background-size: cover;
	display: table;

}

.text {
	padding-right: 20%;
}

img {
	float: right;
	padding: 20px 30px;
	width: 50%;
	vertical-align: middle;
	display: table-cell;
}

span {
	vertical-align: middle;
	display: table-cell;
	width: 50%;
}
