html, body {
	height: 100%;
	margin: 0;
	font-family: 'Lato', sans-serif;
	color: white;
}

.home-img {
	position: relative;
	background-size: cover;
	background-image: url(/images/home.jpg);
	min-height: 100%;
}



